gdown==5.2.1
matplotlib==3.10.8
networkx==3.4.2
numpy==2.2.6
pandas==2.3.3
pillow==12.1.1
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.33.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
soupsieve==2.8.3
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.5.0+cu124
torchinfo==1.8.0
torchvision==0.20.0+cu124
tqdm==4.67.3
triton==3.1.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
